body{
    background-color: azure;
}

nav h2{
    color: white;
    background-color: black;
    margin-left: 5px;
}

.navbar{
    background-color: black;
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    font-style: italic;
    font-weight: bolder;
    font-size: medium;
}

nav ul, li, a{
    color: white;
    display: inline;
    background-color: black;
    justify-items: space-between;
    margin-right: 5px;
}

#About{
    border-color: lightcoral;
    border-width: 5px;
    border-style: solid;
    margin-top: 1px;
}

.objective h3{
    font-weight: bolder;
    padding-left: 5px; 
}

.objective p{
    padding-left: 40px;
    padding-right: 40px;
 }

#Education{
    border-color: lightcoral;
    border-width: 5px;
    border-style: solid;
    margin-top: 1px;
    
 }

#Education h3{
    font-weight: bolder;
    padding-left: 5px;
}

#Education p{
    color: black;
}

#Skills{
    border-color: lightcoral;
    border-width: 5px;
    border-style: solid;
    margin-top: 1px;
}

#Skills h3{
    font-weight: bolder;
    padding-left: 5px;
}


#Contact{
    border-color: lightcoral;
    border-width: 5px;
    border-style: solid;
    margin-top: 1px;
}

#Contact h3{
    font-weight: bolder;
    padding-left: 5px;
}

.form {
    padding-left: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.form label{
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color:black;
}

.form input, textarea {
    
    padding: 10px;
    width: 300px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    border-radius: 5
}

.resume a{
    text-decoration: none;
    background-color: azure;
}

.btn{
    margin-left: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
    color:black;
    background-color: lightcoral;
    border-color: lightcoral;
    border-width: 1px;
    border-style: solid;
    font-size: medium;
    padding: 10px;
    
}

#footer{
    background-color:black;
    padding: 10px;
    text-align: center;
}

.icon{
    cursor: pointer;
    background-color: black;
}

.fa-linkedin,.fa-github,.fa-instagram {
        color: grey;
        background-color:black;
}

.fa-linkedin:hover,.fa-github:hover,.fa-instagram:hover {
        color:white;
}


